/*
  GOOGLE FONTS IMPORTED HERE
*/
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #212121;
  color: whitesmoke; */
  flex-direction: column;
}
.main-header{
  font-family: 'Montserrat', sans-serif;
}
.create-form TextField{
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
  
  
}
.create-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}
.back-btn{
  width: 70px;
}
.add-user-btn{
  width: 150px;
  margin-bottom:30px;
  display:flex;
  justify-content:flex-end;
  background-color:orange;
}

